@import 'normalize';

* {
  font-family: "Dosis", sans-serif;
}
/* Links */
a:link, a:visited, a {
  color : $primary-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  font-weight: bold;
}

//Form

form {

}
//Tables
/*
table {
  width: 100%;
  border : 2px solid red;
  thead {
    background : $darkGrey;
    color : white;
    tr th{
      padding: 10px 0;
    }
  }
}*/