$color : #ededea;
$violet : violet;
$darkGrey : #333;
$grey : #888;
$lightGrey : #ededed;
$pink : #f8d5db;
//$darkPink : #db2545;
$darkPink : #e97d8f;

$valid : $pink;
$invalid : $darkPink;

$header-height : 200px;

$topMenu_height : 50px;