<section id="main" class="columns">
    <h1>INOVATIS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos earum provident sit totam? A ad animi commodi dolores dolorum eos exercitationem libero, minus nostrum, omnis perferendis, provident repudiandae sequi.</p>
</section>