<section id="sideNav" class="small-3 columns">
    <div class="sideNav--userInfos">
        <div class="sideNav--userInfos--avatar">
            <img src="{{ asset('resources/img/user.jpg') }}" alt="User picture">
        </div>
        <div class="sideNav--userInfos--details">
            <p> Mickael Boulat - <a href="#">Déconnexion</a> </p>
            <!-- <ul class="details--links">
                <li><a href="#">Store Front</a></li>
                <li></li>
            </ul> -->
        </div>
    </div>

    <div class="siteNav--menuContainer">
        <nav class="menuContainer--menu">
            <ul>
                <li class="menu--dropdown">
                    Inventory
                    <ul class="l-hidden">
                        <li class="dropdown-item"><a href="#">test1</a></li>
                        <li class="dropdown-item"><a href="#">test2</a></li>
                        <li class="dropdown-item"><a href="#">test3</a></li>
                    </ul>
                </li>
                <li class="menu--dropdown">
                    Orders
                    <ul class="l-hidden">
                        <li class="dropdown-item"><a href="#">test1</a></li>
                        <li class="dropdown-item"><a href="#">test2</a></li>
                        <li class="dropdown-item"><a href="#">test3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>