.user_form {
    position: relative;
    width : 30vw;
    background : lighten($pink, 7%);
    color : white;
    padding : 150px 100px;
    margin: 0 auto;
    border: solid 10px white;
    margin-top: 100px;
    border-radius : 5px;
    .user_form--titles {
        h1, h3{
            color : $darkPink !important;
            position:relative;
            top:-10px;
            text-align: center;
        }
        h1 {
            font-size: 300%;
        }
        h3 {
            font-size : 90%;
            font-style: italic;
        }
    }
    label {
        color : $darkPink;
    }
    input.button {
        float : right;
        width : 50%;
    }

}