#Product {
    background:rgba(255, 255, 255, 0.6);
    .content {
        .left {
            background: rgba(248, 240, 248, 0.21);
            padding-top: 50px;
            padding-bottom: 50px;
            @include flex-grid-column(6);
            text-align: center;
            img {
                object-fit: cover;
                max-height: 400px;
                border: 10px solid white;
            }


        }
        .right {
            background: rgba(255, 255, 255, 0.61);
            padding-top: 50px;
            padding-bottom: 50px;
            @include flex-grid-column(6);
            h2 {
                margin: 0;
            }
            .cat {
                color : $grey;
                padding-left: 2px;
                font-size : 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .price {
                font-size : 30px;
                font-weight: bold;
                color : $darkPink;
                padding: 20px 0;
                text-transform: uppercase;
            }
            h4 {
                color : $grey;
                padding-left: 2px;
                font-size : 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            p.description {
                padding-top: 10px;
                color : lighten($grey,5%);
                padding-left: 2px;
                font-size : 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .params {
                text-align: right;
                h4 {
                    display: inline-block;
                }
                input {
                    display: inline-block;
                    width : 50px;
                }
                .buttons form {
                    position: relative;
                    top:5px;
                    display: inline-block;
                    a {
                        color: white;
                    }
                    button {
                        position: relative;
                        top:5.2px;
                    }
                }
            }

        }
    }
}