section#TopBar {
    background : white;
    font-size: 15px;
    a {
        margin: 0 10px;
    }
    .fa  {
        margin-left: 5px;
    }
}

.top-bar, .top-bar ul {
    background : transparent;
}