{% extends 'baseshop.html.twig' %}

{% block body %}
    <!-- Cart ------------------------------------------------------------------>
    <div id="Order">
        <div class="content row">
            <h2>Order</h2>

    </div> <!--#order-->

{% endblock %}