{% extends 'baseshop.html.twig' %}

{% block body %}
    <!-- Featured ------------------------------------------------------------------>
    <section id="Featured">
        <div class="row">
                <h2>Search results</h2>
        </div>
        <div class="row">

            {% for item in items %}
                <div class="item">
                    <a href="{{ path('shop.product', {"pdt_id" : item.id}) }}">
                        <div class="content">
                            <div class="left">
                                <div class="photo">
                                    <img src="{{ asset('uploads/photos/' ~ item.image) }}" alt="">
                                </div>
                            </div>
                            <div class="right">
                                <div class="title">
                                    {{ item.name }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section> <!--#Featured-->
{% endblock %}