{% extends '::base.html.twig' %}

{%  block body %}

    <div class="row full-width">
            <!-- Side Nav -->
            {% include('@InoAdmin/modules/sideNav.html.twig') %}
            <!-- Main content -->
            {% include('@InoAdmin/modules/main.html.twig') %}
    </div>


{% endblock %}