//divide the page in multiples large section
#sideNav {
  //position : fixed;
  top : 0;
  left: 0;
  margin: 0;
  padding: 0;
  height : 100vh;

  color : white;
}

#main {
  margin: 0;
  padding: 0px;
  .content {
    padding : 30px;
  }
  .head {
    padding: 0;
    h1 {
      height : $header-height - $topMenu_height;
      line-height: $header-height - $topMenu_height;
      color : white;
      background-color: $darkPink;
        background-image: url('../../img/logo_light.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 95% 50%;
      font-size: 400%;
      padding-left: 50px;
    }

    height: $header-height;
  }
}